# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Application/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Application/**'

env: 
  registryName: lkjhsdevopsreg.azurecr.io
  repositoryName: wth/dotnetcoreapp
  dockerFolderPath: Application/src/RazorPagesTestSample
  tag: ${{ github.run_number }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore ./Application/src/RazorPagesTestSample/RazorPagesTestSample.csproj
    - name: Build
      run: dotnet build --no-restore ./Application/src/RazorPagesTestSample/RazorPagesTestSample.csproj
    - name: Test
      run: dotnet test --no-build --verbosity normal ./Application/tests/RazorPagesTestSample.Tests/RazorPagesTestSample.Tests.csproj

  deployDev:
      runs-on: ubuntu-latest
      environment: dev
      steps:
          - uses: actions/checkout@v2
          - name: Log into registry
            uses: docker/login-action@v1
            with:
              registry: ${{ env.registryName }}
              username: ${{ secrets.ACR_USERNAME }}
              password: ${{ secrets.ACR_PASSWORD }}

          - name: Docker Build 
            run: docker build -t $registryName/$repositoryName:$tag --build-arg build_version=$tag $dockerFolderPath

          - name: Docker Push 
            run: docker push $registryName/$repositoryName:$tag

  deployTest:
    runs-on: ubuntu-latest
    environment: test
    steps:
        - uses: actions/checkout@v2
        - name: Log into registry
          uses: docker/login-action@v1
          with:
            registry: ${{ env.registryName }}
            username: ${{ secrets.ACR_USERNAME }}
            password: ${{ secrets.ACR_PASSWORD }}

        - name: Docker Build 
          run: docker build -t $registryName/$repositoryName:$tag --build-arg build_version=$tag $dockerFolderPath

        - name: Docker Push 
          run: docker push $registryName/$repositoryName:$tag

  deployProd:
    runs-on: ubuntu-latest
    environment: prod
    steps:
        - uses: actions/checkout@v2
        - name: Log into registry
          uses: docker/login-action@v1
          with:
            registry: ${{ env.registryName }}
            username: ${{ secrets.ACR_USERNAME }}
            password: ${{ secrets.ACR_PASSWORD }}

        - name: Docker Build 
          run: docker build -t $registryName/$repositoryName:$tag --build-arg build_version=$tag $dockerFolderPath

        - name: Docker Push 
          run: docker push $registryName/$repositoryName:$tag


           
        
