name: first-workflows

run-name: ${{ github.actor }} is learning GitHub Actions

on: 
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo step 1
      - run: echo step 2


  job2:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.6.0
